DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DB_NAME?sslmode=require
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=d32cd45751ef4267538df66a7eb7b6e630b588122afc758f6a8811529a38b273

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=

APPLE_ID=
APPLE_SECRET=
NEXT_PUBLIC_APPLE_ID=
